body {
  background-color: #fff;
  color: #444;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}
a {
  color: #690;
  text-decoration: none;
}
a:hover {
  color: #334d00;
  text-decoration: underline;
}
img {
  max-width: 100% !important;
}
.img-rounded {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.img-polaroid {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.img-circle {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}
-------------------------------------------------------
table {
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}
th,
td {
  line-height: 20px;
  padding: 8px 10px;
  text-align: left;
  vertical-align: top;
}
td {
  border-top: 1px solid #ddd;
}
th {
  background: #444;
  color: #eee;
  font-weight: bold;
}
th a {
  color: #eee;
}
th a:hover,
th a:focus,
th a:active {
  color: #fff;
}
.cat-list-row0:hover,
.cat-list-row1:hover {
  background: #f5f5f5;
}
.cat-list-row1,
tr.cat-list-row1 td {
  background: #f9f9f9;
}
table.contentpane,
table.tablelist,
table.category,
table.admintable,
table.blog {
  width: 100%;
}
table.contentpaneopen {
  border: 0;
}
-------------------------------------------------------
.star {
  color: #fc0;
}
.red {
  color: #c00;
}
.element-invisible {
  position: absolute;
  padding: 0;
  margin: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
